.themeDark{
    --background: black;
    --fontColor:white;
    --navColor:grey;
    --navHoverColor:lightgray;
    --navActiveColor:black;
    --navActiveBackgroundColor:lightgray;
}
.themeLight{
    --background: #eaffd0; 
    --fontColor:black;
    --navColor:#95e1d3;
    --navHoverColor:#eaffd0;
    --navActiveColor:green;
    --navActiveBackgroundColor:#eaffd0;
}
.commonVar{
    --commonPadding:2rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
    color: var(--fontColor);
}

a{
    text-decoration: none;
}

.matchParent{
    height: 100%;
    width: 100%;
}

.flex{
    display: flex;
}

.commonBorder{
    border: 1px solid var(--fontColor);
}
